version: "3.9"

services:
  web:
    build: .
    container_name: flask-helpdesk
    ports:
      - "5000:5000"
    env_file:
      - .env
    volumes:
      - .:/app
      - ./logs:/app/logs
      - ./app.db:/app/app.db
    command: python app.py