<nav class="moduk-navigation">
    <ul class="moduk-navigation-list">
        <li class="moduk-navigation-item">
            <a href="/dashboard" class="moduk-navigation-link">Dashboard</a>
        </li>
        <li class="moduk-navigation-item">
            <a href="/create_ticket" class="moduk-navigation-link">Create Ticket</a>
        </li>
        <li class="moduk-navigation-item">
            <a href="/logout" class="moduk-navigation-link">Logout</a>
        </li>
    </ul>
    <p class="moduk-logged-in">Logged in as {{ username }}</p>
    <!-- Displays username -->
</nav>
